<h2>Product Details</h2>

@if (product) {
  <div>
    <h3>{{ product.name }}</h3>
    <h4>{{ product.price | currency }}</h4>
    <p>{{ product.description }}</p>

    <!-- Añadido el campo quantity a detalles de producto, y ponemos los colores segun la cani
    tidad-->
    <p [ngClass]="{
      'verde' : product.quantity > 5,
      'naranja' : product.quantity >= 1 && product.quantity <= 5,
      'rojo' : product.quantity === 0
      }">

      Quantity: {{ product.quantity }}
      <!-- Ponemos que si la cantidad del producto es igual a 0 salga agotado en rojo-->

      <span *ngIf="product.quantity === 0" style="color:red"> Agotado</span>
    </p>

    <!-- Si la cantidad es igual a 0 , el boton esta deshabilitado y sale agotado -->
    <button type="button" class="btn-primary" (click)="addToCart(product)" [disabled]="product.quantity === 0" >
      <p>Buy</p>
      <p *ngIf="product.quantity === 0">Agotado</p>
    </button>
    <br>
  </div>
}
